body {
  font-family: Arial;
}

.screen {
  display: none;
}

.active {
  display: block;
}

/* animaciones */
.fade-up {
  opacity: 0;
  transform: translateY(20px);
}

.animate .fade-up {
  opacity: 1;
  transform: translateY(0);
  transition: 0.4s;
}

.delay-1 { transition-delay: 0.1s; }
.delay-2 { transition-delay: 0.2s; }
.delay-3 { transition-delay: 0.3s; }
.delay-4 { transition-delay: 0.4s; }